@import "tailwindcss";



@theme{
    --font-sans: "Rubik", system-ui, sans-serif;
}
body {
  font-family: var(--font-sans);
}


@layer utilities {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @media (min-width: 1024px) {
    .container {
      padding-inline: 2rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
}